.container {
  max-width: 80%;
  margin: 50px auto;
}

.post {
  max-width: 500px;
  border: 1px solid #d0d6d6;
  border-radius: 8px;
  padding: 20px;
}

.title {
  color: #042630;
  margin-bottom: 4px;
}

.description {
  color: #898d8d;
  font-size: 14px;
}